{{#partial "content"}}
    <section>
        <div></div>
        <div></div>
        <h2>Create Your Hero!</h2>

        <!--main hero details start here-->
        <div></div>
        <!--main hero details end here-->
    </section>
{{/partial}}