{{#partial "content"}}
    <section class="landingPage">
        <div class="leftLanding"></div>
        <div class="rightLanding"></div>
<!--        beginning of form      -->
        <form class="form" action="/new/hero" method="post">
            <h1>Create Your Hero:</h1>
            <input type="text" placeholder="Enter name" name="name" required>
            <input type="number" placeholder="Enter age" name="age" required>
            <input type="text" placeholder="Enter special power" name="power" required>
            <input type="text" placeholder="Enter weakness" name="weakness" required>
            <input type="submit" class="btn">
        </form>
    </section>
{{/partial}}

{{>layout.hbs}}