{{#partial "content"}}
    <section class="landingPage">
        <div class="leftLanding"></div>
        <div class="rightLanding"></div>
        <div class="heroImage"></div>
        <div class="heroDescription">
            <h3>A Chance to Make Your Hero!</h3>
            <button class="btn heroBtn"><a href="/hero">Create a Hero:</a></button>
        </div>
    </section>
{{/partial}}

{{>layout.hbs}}