{{#partial "content"}}
    <section>
        <div></div>
        <div></div>
        <div></div>
        <div>
            <h3>Let's Make A Hero</h3>
            <a>Create Hero</a>
        </div>
    </section>
{{/partial}}