{{#partial "content"}}
    <section class="landingPage">
        <div class="leftLanding"></div>
        <div class="rightLanding"></div>
        <div class="heroImage"></div>
        <div class="heroDescription">
            <h3>A Chance to Make Your Hero!</h3>
            <a><button class="btn heroBtn">Create Hero:</button></a>
        </div>
    </section>
{{/partial}}

{{>layout.hbs}}