{{#partial "content"}}
    <section class="landingPage">
        <div class="leftLanding"></div>
        <div class="rightLanding"></div>
        <div class="squadScores">
            <h1>{{hero.name}}</h1>
            <div class="charts">
                <div class="attack">Attack<br><span class="attCount"></span></div>
                <div class="speed">Speed<br><span class="spdCount"></span></div>
                <div class="defence">Defence<br><span class="defCount"></span></div>
                <a href="/hero"><button class="btn back">Back</button></a>
            </div>
        </div>
    </section>
{{/partial}}