{{#partial "content"}}
    <section>
        <div></div>
        <div></div>

        <form>
            <h1>Create Your Squad</h1>
            <input type="text" placeholder="" name="">
            <input type="number" placeholder="" name="">
            <input type="text" placeholder="" name="">
            <input type="submit" class="">
        </form>
    </section>
{{/partial}}