{{#partial "content"}}
    <section>
        <div></div>
        <div></div>

<!--        main squad content start here-->
        <div>
            <div>
                <p></p>
                <h2>Choose Squad Members</h2>
                <div>
                    <div>

                    </div>
                </div>
                <h2>

                </h2>
                <div>
                    <div>
                        <h1></h1>
                        <p></p>
                        <p></p>
                        <p></p>
                        <h3></h3>

                        <div>
                            <h5></h5>
                            <h5></h5>
                            <button></button>
                        </div>

                    </div>
                </div>


                <h2>Please create a squad to continue</h2>
            </div>
        </div>
    </section>
{{/partial}}
{{#partial "footer"}}

{{/partial}}