{{#partial "content"}}
    <section class="landingPage">
        <div class="leftLanding"></div>
        <div class="rightLanding"></div>
        <div class="done">
            <h3>Done!<br><span>{{item}}</span><br>Has successfully been created.<br>{{squadId}}</h3>
            <a class="btn btn-primary" href="/hero">View Heroes</a>
            <a class="btn btn-primary" href="/squad">View Squads</a>
        </div>
    </section>
{{/partial}}

{{>layout.hbs}}